@import url('https://fonts.googleapis.com/css2?family=Spectral&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC&display=swap');

.img-fit {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

:root {
  --anita-bottom-height: 130px;
  --anita-color-text: #eee;
  --anita-color-note: #aaa;

  --bs-dark: #00000080;
  --bs-dark-rgb: 0, 0, 0;
  --bs-bg-opacity: 0.4;
}

@media (max-width: 768px) {
  :root {
    --anita-bottom-height: 0px;
  }
}

.main-text p:last-child {
  margin-bottom: 0;
}

.lang-zh {
  font-family: 'Noto Sans SC', serif;
  .font-title {
    font-family: 'Noto Serif SC', serif;
    font-weight: bold;
  }

  .main-text p {
    text-indent: 2em;
  }
}

.font-en {
  font-family: 'Spectral', serif;
}

@media (max-width: 767.99px) {
  .only-pc {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .only-m {
    display: none !important;
  }
}

.icon {
  vertical-align: sub !important;
}
