@import url('https://fonts.googleapis.com/css2?family=Spectral&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC&display=swap');

.img-fit {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

:root {
  --anita-bottom-height: 130px;
  --anita-color-text: #eee;
  --anita-color-note: #aaa;

  --card-color-red: #d73e3e;
  --card-color-blue: #4191ff;
  --card-color-green: #66cc22;
  --card-color-yellow: #ffc100;
  --card-color-purple: #4f3ef9;

  --quality-color-n: #ffffff;
  --quality-color-r: #377bf8;
  --quality-color-sr: #c895ff;
  --quality-color-ssr: #ffb800;
  --quality-color-ur: #ff8a00;

  --char-list-item-width: 94px;
  --item-list-item-width: 82px;

  --bs-dark: #00000080;
  --bs-dark-rgb: 0, 0, 0;
  --bs-secondary-rgb: 150, 150, 150;
}

@media (max-width: 768px) {
  :root {
    --anita-bottom-height: 0px;
    --char-list-item-width: 75px;
    --item-list-item-width: 64px;
  }
}

.main-text p:last-child {
  margin-bottom: 0;
}

.lang-zh {
  font-family: 'Noto Sans SC', serif;
  .font-title {
    font-family: 'Noto Serif SC', serif;
    font-weight: bold;
  }

  .main-text p {
    text-indent: 2em;
  }
}

.font-en {
  font-family: 'Spectral', serif;
}

@media (max-width: 767.99px) {
  .only-pc {
    display: none !important;
  }

  .mx-out-1 {
    margin-left: -0.5rem;
    margin-right: -0.5rem;
  }
}

@media (min-width: 768px) {
  .only-m {
    display: none !important;
  }
}

.fs-small {
  font-size: 14px;
}

.btn .icon {
  vertical-align: sub !important;
}

.text-bg-dark {
  background-color: rgba(var(--bs-dark-rgb), 0.4) !important;
}

.card.text-bg-dark .card-header {
  background: var(--bs-gray-700);
}

.plain-link {
  color: inherit;
  text-decoration: inherit;
}

.text-danger {
  color: rgba(204, 109, 107, var(--bs-text-opacity)) !important;
}

.flex-1 {
  flex: 1;
}
